<?xml version="1.0" encoding="UTF-8"?>
<Server port="8005" shutdown="SHUTDOWN">
	<Listener
		className="org.apache.catalina.startup.VersionLoggerListener" />
	<Listener SSLEngine="on"
		className="org.apache.catalina.core.AprLifecycleListener" />
	<Listener
		className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
	<Listener
		className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
	<Listener
		className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />
	<GlobalNamingResources>
		<Resource auth="Container"
			description="User database that can be updated and saved"
			factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
			name="UserDatabase" pathname="conf/tomcat-users.xml"
			type="org.apache.catalina.UserDatabase" />
	</GlobalNamingResources>
	<Service name="Catalina">
		<Connector connectionTimeout="20000" port="8080"
			protocol="HTTP/1.1" redirectPort="8447" />
		<Connector port="8447"
			protocol="org.apache.coyote.http11.Http11NioProtocol"
			maxThreads="150" SSLEnabled="true">
			<SSLHostConfig>
				<Certificate certificateKeystoreFile="conf/server.jks"
					certificateKeyAlias="localhost" certificateKeyPassword="password"
					certificateKeystorePassword="password" type="RSA" />
			</SSLHostConfig>
		</Connector>
		<Engine defaultHost="localhost" name="Catalina">
			<Realm className="org.apache.catalina.realm.LockOutRealm">
				<Realm className="org.apache.catalina.realm.UserDatabaseRealm"
					resourceName="UserDatabase" />
			</Realm>
			<Host appBase="webapps" autoDeploy="true" name="localhost"
				unpackWARs="true">
				<Valve className="org.apache.catalina.valves.AccessLogValve"
					directory="logs" pattern="%h %l %u %t &quot;%r&quot; %s %b"
					prefix="localhost_access_log" suffix=".txt" />
				<Context docBase="tomcat8-basic-auth-confidential"
					path="/tomcat8-basic-auth-confidential" reloadable="true"
					source="org.eclipse.jst.jee.server:tomcat8-basic-auth-confidential" />
			</Host>
		</Engine>
	</Service>
</Server>